/* Chart styles */

.chartWrapper {
  width: 100%;
  max-width: 900px;
  height: 100%;
  min-height: 260px;
  margin: 0 auto;
  position: relative;
}

/* ensure canvas fills parent */
.chartWrapper canvas {
  width: 100% !important;
  height: 100% !important;
  display: block;
}