/*!***************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[3]!./app/page.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************/
/* Styles for the home page */

.page_container__jZF7q {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  gap: 1rem;
  text-align: center;
}

.page_actions___si5r {
  display: flex;
  gap: 1rem;
}

.page_button__52WaL,
.page_buttonSecondary__kW1Gq {
  padding: 0.85rem 1.5rem;
  color: #fff;
  border-radius: 0.5rem;
  font-weight: 600;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  transition: background 0.2s, transform 0.2s;
}

.page_button__52WaL {
  background-color: var(--primary-color);
}

.page_button__52WaL:hover {
  background-color: var(--accent-color);
  transform: translateY(-2px);
}

.page_buttonSecondary__kW1Gq {
  background-color: var(--highlight-color);
}

.page_buttonSecondary__kW1Gq:hover {
  background-color: var(--accent-color);
  transform: translateY(-2px);
}
